<body style="background-color: #d0ebf9;" >

<div class="row" >   
 <div class="col-md-6 " >
  <ul class="nav nav-pills nav-stacked" style="margin-top: 15px;">
    <button type="button" class="list-group-item btn btn-blue"
    data-toggle="collapse" data-target="#new"><h4 style="text-align: center;">Discussion instantané
      </h4></button>
   </div>
   <div class="col-md-6" style="margin-top: 15px;">

    <button type="button" class="list-group-item btn btn-blue"
    data-toggle="collapse" data-target="#mail"><h4 style="text-align: center;">Message
      </h4></button>

    
  </ul>
  </div>
</div>


<div class="row" >
  <div class="col-md-6" >
    <div id="new" class="collapse">
    <div class="panel-body">
     <h1 class="panel-heading"><font color="#273c75" > Discussion Instantané </font></h1>
       <% @users.each do |user| %>
        <% if user.id != current_user.id %>
         <div class="item"><h3>
      <%= link_to user.email,
       conversations_path(sender_id: current_user.id, recipient_id: user.id), method: "post"%>
     </h3></div>
     <% end -%>
     <% end %>

    </div>
  </div>
</div>
</div>

  
</div>
<div class="col-md-6" >
  <div class="panel panel-default">
<div class="col-lg-6">
  <div id="mail" class="collapse">
    <h1 class="panel-heading">vos messages:</h1>
    <div class="panel-body">
     <div class="item">

     
      <% @conversations.each do |conversation| %>
      <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
       <% if conversation.sender_id == current_user.id %>
         <% recipient = User.find(conversation.recipient_id) %>
       <% else %>
         <% recipient = User.find(conversation.sender_id) %>
       <% end %>
       <h3><%= link_to recipient.email, conversation_messages_path(conversation)%></h3>
      <% end %>
     <% end %>
     </div>
    </div>
   </div>

</div>


</div>
  <%= link_to '<--', root_path %>
</body>